In [ ]:
import arakawa as ar
import warnings
warnings.filterwarnings("ignore")

::: arakawa.Table

The Table block takes a pandas DataFrame and renders an HTML table in your app.

!!! info
    `Table` is the best option for displaying multidimensional DataFrames, as `DataTable` will flatten your data.

### Simple Table from DataFrame

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": np.random.normal(-1, 1, 5),
        "B": np.random.normal(1, 2, 5),
    }
)

ar.Table(df)

### Styled Table from DataFrame

If your DataFrame includes [DataFrame Styles](https://pandas.pydata.org/pandas-docs/stable/user\_guide/style.html), these will be included in your app. DataFrame styles allow you create custom formatted tables; for instance, to show trends, highlight cells, add bar charts, or display correlations.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list("BCDE"))], axis=1)

ar.Table(df.style.background_gradient(cmap="viridis"))

::: arakawa.DataTable
    options:
          members:
              - __init__

### Simple DataTable from DataFrame

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": np.random.normal(-1, 1, 5000),
        "B": np.random.normal(1, 2, 5000),
    }
)

ar.DataTable(df)

### Running Queries on DataTable

You can run SQL queries on your datatable if you need more advanced filtering & calculations. In the previous example, if we wanted to show only the rows which had a value A > 0.5, we would write the following (note that `$table` is the builtin table name and cannot be changed):

```sql
SELECT * FROM $table
WHERE A > 0.5
```

::: arakawa.BigNumber

### Simple BigNumber

In [ ]:
ar.BigNumber(heading="Simple Statistic", value=100)

### BigNumber with change indicators

In [ ]:
ar.Group(
    ar.BigNumber(
        heading="Percentage points",
        value="84%",
        change="2%",
        is_upward_change=True,
    ),
    ar.BigNumber(
        heading="Percentage points",
        value="84%",
        change="2%",
        is_upward_change=False,
    ),
    ar.BigNumber(
        heading="Points",
        value="1234",
        change="200",
        is_upward_change=True,
    ),
    ar.BigNumber(
        heading="Points",
        value="1234",
        change="200",
        is_upward_change=False,
    ),
    columns=2,
)