In [ ]:
import arakawa as ar
import warnings
warnings.filterwarnings("ignore")

# Selects and Tabs

::: arakawa.Select

The `ar.Select` block has two modes:

* **Tabs** are used for less than 5 options - you can override this default by passing in the parameter `type=ar.SelectType.TABS`
* **Drop downs** are used for 5 or more options - you can override this default by passing in the parameter `type=ar.SelectType.DROPDOWN`. In addition, a search bar will appear if the block contains more than 10 options.

To set the option names, make sure each block contained inside your `ar.Select` has a `label`.

## Simple Tabs

In [ ]:
import seaborn as sns
import altair as alt

code = """
titanic = sns.load_dataset("titanic")

report = ar.Report(
    "# Titanic overview",
    ar.HTML(
        '<html><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1599px-RMS_Titanic_3.jpg" style="height:400px;display:flex;margin:auto"></img></html>'
    ),
    ar.Select(
        blocks=[
            ar.Table(titanic.describe(), label="Data Description"),
            ar.DataTable(titanic, label="Whole Dataset"),
            ar.Code(code, label="Source code"),
        ]
    ),
)

app.save(path="select.html")
"""

titanic = sns.load_dataset("titanic")

ar.Blocks(
    "# Titanic overview",
    ar.HTML(
        '<html><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1599px-RMS_Titanic_3.jpg" style="height:400px;display:flex;margin:auto"></img></html>'
    ),
    ar.Select(
        blocks=[
            ar.Table(titanic.describe(), label="Data Description"),
            ar.DataTable(titanic, label="Whole Dataset"),
            ar.Code(code, label="Source code"),
        ]
    ),
)

In [ ]:
import seaborn as sns

code = """
titanic = sns.load_dataset("titanic")

report = ar.Report(
    "# Titanic overview",
    ar.HTML(
        '<html><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1599px-RMS_Titanic_3.jpg" style="height:400px;display:flex;margin:auto"></img></html>'
    ),
    ar.Select(
        blocks=[
            ar.Table(titanic.describe(), label="Data Description"),
            ar.DataTable(titanic, label="Whole Dataset"),
            ar.Code(code, label="Source code"),
        ]
    ),
)

report.save(path="select.html")
"""

titanic = sns.load_dataset("titanic")

ar.Blocks(
    "# Titanic overview",
    ar.HTML(
        '<html><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1599px-RMS_Titanic_3.jpg" style="height:400px;display:flex;margin:auto"></img></html>'
    ),
    ar.Select(
        blocks=[
            ar.Table(titanic.describe(), label="Data Description"),
            ar.DataTable(titanic, label="Whole Dataset"),
            ar.Code(code, label="Source code"),
        ],
        type=ar.SelectType.DROPDOWN,
    ),
)