In [ ]:
import datapane as dp
import warnings
warnings.filterwarnings("ignore")

# Pages
    
::: arakawa.Page
    options:
          members:
              - __init__

## Simple Pages

In [ ]:
import altair as alt
import seaborn as sns

titanic = sns.load_dataset("titanic")

points = (
    alt.Chart(titanic)
    .mark_point()
    .encode(
        x="age:Q",
        color="class:N",
        y="fare:Q",
    )
    .interactive()
    .properties(width="container")
)

dp.Blocks(
    dp.Page(title="Titanic Dataset", blocks=["### Dataset", titanic]),
    dp.Page(title="Titanic Plot", blocks=["### Plot", points]),
)

## Pages with side navigation

In [ ]:
import seaborn as sns
import altair as alt

titanic = sns.load_dataset("titanic")

points = (
    alt.Chart(titanic)
    .mark_point()
    .encode(
        x="age:Q",
        color="class:N",
        y="fare:Q",
    )
    .interactive()
    .properties(width="container")
)

dp.Blocks(
    dp.Page(title="Titanic Dataset", blocks=["### Dataset", titanic]),
    dp.Page(title="Titanic Plot", blocks=["### Plot", points]),
)